.container{
  display: flex;
  justify-content: center;
  
}
.photo{
  width: 200px;
  height: auto;
  border-radius: 25px;
  margin-top: 5vh;
}
h3{
  margin-top: -10px;
}
h1{
  color:rgb(61, 189, 240);
}